


.stepper-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.stepper {
  display: flex;
  align-items: center;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.step .step-icon {
  font-size: 30px; /* Adjust icon size */
  color: #e0e0e0; /* Default color for inactive steps */
  transition: all 0.3s ease;
}

.step.active .step-icon {
  color: #17a2b8; /* Active color */
}

.step .step-label {
  font-size: 14px;
  margin-top: 10px;
  color: #555;
  font-weight: bold;
  text-align: center;
}

.step-divider {
  width: 50px;
  height: 2px;
  background-color: #ddd;
  margin: 0 20px;
  transition: background-color 0.3s ease;
}

.step-divider.active {
  background-color: #17a2b8; /* Divider color when active */
}

.step-link {
  text-decoration: none;
  color: inherit;
}

.stepper-container .stepper .step:first-child .step-icon {
  color: #17a2b8;
}

.stepper-container .stepper .step .step-label {
  color: #555;
}

.stepper-container .stepper .step.active .step-label {
  color: #17a2b8; /* Label color when active */
}


.order-confirmation {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1, h2 {
  color: #333;
}

.shipping-info, .order-details {
  margin-bottom: 20px;
}

.order-item {
  margin-bottom: 15px;
}

.product-info p {
  margin: 5px 0;
}

hr {
  margin: 10px 0;
  border: 1px solid #ccc;
}

.confirm-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.confirm-button:hover {
  background-color: #218838;
}

.order-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.product-info {
  flex-grow: 1;
}

.product-image img {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.shipping-info {
  margin-bottom: 2rem;
}

.order-details {
  margin-bottom: 2rem;
}

.order-actions {
  text-align: center;
}

.confirm-button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.confirm-button:hover {
  background-color: #218838;
}


.order-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.product-info {
  flex-grow: 1;
}

.product-image img {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.shipping-info {
  margin-bottom: 2rem;
}

.order-summary {
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.confirm-button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.confirm-button:hover {
  background-color: #218838;
}

