.product-detail {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.product-image {
    text-align: left;
}

.product-image img.product-img {
    max-width: 110%;
    height: auto;
    margin-top: 90px;
    margin-left: -90px;
    border-radius: 8px;
}

.product-info {
    padding: 20px;
}

.product-info h1 {
    font-size: 26px;
    margin-bottom: 10px;
    color: #333;
}

.product-info h2 {
    color: #b12704;
    font-size: 24px;
    margin: 10px 0;
}

.rating-section {
    display: flex;
    align-items: center;
}

.rating-section span {
    margin-left: 10px;
}

button {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.quantity-button {
    width: 40px;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-success {
    background-color: #28a745;
}

.add-to-cart-button {
    background-color: #ffc107;
}

.quantity-display {
    font-size: 18px;
    margin: 0 10px;
}

.status {
    font-weight: bold;
    margin-top: 10px;
}

.seller-name {
    margin-top: 10px;
    font-style: italic;
}

.description {
    margin-top: 20px;
    line-height: 1.5;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
